.cards{
    @media(width<=$breakpoint-md){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    @media(width<=$breakpoint-sm){
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px; //
    align-items: center;

    &:nth-child(even){
        .card__content{
            order: -1;
        }
    }
    
    @media (width<=$breakpoint-md){
        display: block;

        

        &:nth-child(even){
        .card__content{
            order: unset;
        }
    }
    }
}

.card__media{
    aspect-ratio: 595/490;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        display: block;
    }
}

.card__content{
    display: flex;
    flex-direction: column;
    gap: 30px;//
    .bouton{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 255px;
        height: 40px;
        background-color: var(--color-primary);
        color: var(--color-black);
        font-weight: bold;
        border-radius: 100px;
    }
    
    .categorie{
        font-size: 18px;
    }
}