.cards{
    @media(width<=$breakpoint-md){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    @media(width<=$breakpoint-sm){
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px; //
    align-items: center;
    
    @media (width<=$breakpoint-md){
        grid-template-columns: 1fr;
    }
}

.card__media{
    aspect-ratio: 595/490;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}