.footer {
    height: 270px;
    padding: 40px;
    background-color: var(--color-black);

    .wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    p {
        text-align: center;
        
        
        color: var(--color-white);
    }

    .petit-texte{
        font-size: 18px;
    }
    .gros-texte {
        color: var(--color-white);
        font-size: 56px;      
    }
    span {
        font-weight: bold;
    }
    .reseaux {
        display: flex;
        justify-content: center;
        gap: 60px;

        svg {
            color: #8c8c8c;
        }
    }
}
