.header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px 0;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: var(--color-white);
        text-transform: uppercase;
        font-weight: 600;
    }
}
