.header {
    background-color: rgba(0, 0, 0, 0.6);

    padding: 25px 0;
    height: 80px;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        text-transform: uppercase;
        // centrer texte !!!!!!!!!!!
        margin: 0;
        font-weight: 600;
    }

    a {
    }
}
