.header {
    background-color: rgba(255, 255, 255, 0.6);

    margin: 0;
    padding: 0;
    height: 80px;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        text-transform: uppercase;
        // centrer texte

        font-weight: 600;
    }
}
