.hero {
    .wrapper {
        position: relative;
    }
}
.hero__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //
    display: flex;
    align-items: flex-end;
    h1 {
        margin-bottom: 80px;
    }
}
