.hero {
    
    height: 85vh;
    position: relative;
    
    .wrapper {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    @media (width<=$breakpoint-md){
        height: 60vh;
    }
}
.hero__content {
    color: var(--color-primary);
}
.hero__media{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}