/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;

    &:hover {
        color: var(--color-white);
    }
}
