/* ==========================================================================
   TYPOGRAPHY / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    line-height: 1;
    font-weight: bold;
}

h1 {
    font-size: var(--font-size-h1);
    margin: 0;
    color: var(--color-primary);
    font-weight: bold;
}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-secondary);
    margin: 0;
    margin-bottom: 100px;
    font-weight: 300;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;

    @media (width<=$breakpoint-sm){
        margin-top: 32px;
    }
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

p {
    font-family: var(--font-primary);
    margin: 0;
    font-weight: 300;
}

span{
    font-weight: 600;
    
}