{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="hero" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier <br>d’exercice</h1>
        </div>
    </div>
</section>

<section class="labo section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - Révision</h3>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="categorie">HTML + CSS</p>

                    <a href="#" class="bouton">
                        voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                </div>
                <div class="card__content">
                    <h3>SEM 02 - Révision</h3>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="categorie">HTML + CSS</p>

                    <a href="#" class="bouton">
                        voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                </div>
                <div class="card__content">
                    <h3>SEM 03 - Révision</h3>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="categorie">HTML + CSS</p>

                    <a href="#" class="bouton">
                        voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                </div>
                <div class="card__content">
                    <h3>SEM 04 - Révision</h3>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="categorie">HTML + CSS</p>

                    <a href="#" class="bouton">
                        voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<section class="tp section">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires réactifs</span>
        </h2>

        <div class="swiper pagination">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 07 - SITE RÉACTIF</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="categorie">SCSS + JAVASCRIPT </p>

                        <a href="#" class="bouton">
                            voir le laboratoire
                            <svg class="icon icon--lg">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 07 - SITE RÉACTIF</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="categorie">SCSS + JAVASCRIPT </p>

                        <a href="#" class="bouton">
                            voir le laboratoire
                            <svg class="icon icon--lg">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 07 - SITE RÉACTIF</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="categorie">SCSS + JAVASCRIPT </p>

                        <a href="#" class="bouton">
                            voir le laboratoire
                            <svg class="icon icon--lg">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
