{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero">
    <div class="wrapper">
        <img src="assets/images/hero.jpg" alt="hero" />
        <h1>
            Mon cahier
            <br />
            d’exercice
        </h1>
    </div>
</section>

<section class="labo">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                </div>
                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="categorie">HTML + CSS</p>

                    <a href="#" class="bouton">
                        voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-behance"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                </div>
                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="categorie">SCSS</p>

                    <a href="#" class="bouton">
                        voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-behance"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                </div>
                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="categorie">HTML + SCSS</p>

                    <a href="#" class="bouton">
                        voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-behance"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="categorie">SCSS + JAVASCRIPT</p>

                    <a href="#" class="bouton">
                        voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-behance"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tp">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires réactifs</span>
        </h2>

        <div class="swiper">
            <div class="swiper-wrapper"></div>
            <div class="cards-tp">
                <div class="card-tp">
                    <div class="card__media">
                        <img src="assets/images/exercice-crypto.png" alt="exercice-crypto" />
                    </div>
                    <div class="card__content">
                        <h3>SEM 02 - TIMTOOLS</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="categorie">HTML + SCSS</p>

                        <a href="#" class="bouton">
                            voir le laboratoire
                            <svg class="icon icon--md">
                                <use href="#icon-behance"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
